<?xml version="1.0"?>
<manifest 
		package="edu.hogwarts.siesta.winkwonk"
    	xmlns:android="http://schemas.android.com/apk/res/android">

   	<uses-permission android:name="android.permission.INTERNET">
    </uses-permission>
 
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE">
    </uses-permission>
    
	<application android:icon="@drawable/icon">
		<activity android:name=".WinkWonk" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
</manifest>
